<!-- analyst_detail.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de l'Analyste</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>{{ analyst_detail.name }}</h1>
    <p>Détails: {{ analyst_detail.detail }}</p>
    <a href="{% url 'analyst_update' analyst_detail.id %}">Modifier</a>
    <form action="{% url 'analyst_delete' analyst_detail.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Supprimer</button>
    </form>
</body>
</html>